*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;

}

.flex{
    display: flex;
}

.searchbtn img{
    width: 20px;
    
}

.inputsection{
    gap: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;

    padding: 20px;

   

}

input{
    padding: 20px;
    border-radius: 20px;
    border: solid 1px black;
    width: 80%;

}

.card{

    width: 90%;
    height: 70vh;
    max-width: 470px;
    margin: 100px auto 0;
    background: linear-gradient(135deg,#00feba,#5b548a);
    border: solid 1px black;
    border-radius: 20px;


    color: white;
    flex-direction: column;
    text-align: center;
    /* padding: 20px; */



}


.searchbtn{
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px black;

}

.wind{

    flex-direction: column;


}

.humidity{
    flex-direction: column;
}

.twosec{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.mainimg{
    /* height: 20px; */
    width: 40%;
}